body { 
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #191919;
    color: black;
}

.mainbox {
    width: 60vw;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin-top: 10px;
}

#output {
    margin-top: 20px;
}